<div class="hero">
	
	<div class="row">
		<% if notice.present? %>
		 	<p class="alert alert-info"><%= notice %></p>
		<% end %>
		<% if alert.present? %>
		 	<p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<div class="col-xs-4"></div>
		<div class = "frosty col-xs-4 text-center">
			<br>
			<h1>Learn how to code</h1>
			<br>
			<h2>Start coding to start living freely</h2>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<span class ="glyphicon glyphicon-education"></span>
					<p>Educate yourself with free and paid courses</p>
				</div>
				<div class="col-xs-4">
					<span class ="glyphicon glyphicon-phone"></span>
					<p>Accessible anytime, anywhere on your preferred device</p>
				</div>
				<div class="col-xs-4">
					<span class ="glyphicon glyphicon-globe"></span>
					<p>Students and teachers from across the globe</p>
				</div>
			</div>
			<%= link_to 'Learn more', '#', :class => 'btn btn-success staticbtn' %>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>

<br class = "clr">
<div class="container-fluid features text-center">
	<div class="col-sm-4">
		<h3>Learn at Your Own Pace</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="col-sm-4">
		<h3>Accessible from any Device</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="col-sm-4">
		<h3>Global Educators</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
